:root {
  /* Colors */
  --dark-blue: #10292d;
  --primary-blue: #173c42;
  --light-blue: #25616a;
  --dark-green: #8ac117;
  --primary-green: #a8e524;
  --light-green: #b7ea48;
  --dark-beige: #f7f2c9;
  --primary-beige: #fbf8e3;
  --light-beige: #faf3eb;
  --off-white-green: #f5fffa;
  --off-white-blue: #f0f8ff;

  /* Fonts */
  --font-primary: "Roboto";
  --font-secondary: "Poppins";
  --font-heading: "Play Fair Display";
}

/* Style for basic elements */
body {
  width: 100%;
  font-family: var(--font-primary), sans-serif;
  margin: 0;
  padding: 0;
  background: url("/webBackground.png"),
    linear-gradient(
      var(--light-beige),
      var(--off-white-green),
      var(--off-white-blue)
    );
  background-size: cover;
  background-position: center;
}

.border-main {
  border: 6px solid var(--dark-green);
}

/* Style for the hero section */
.hero-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 120px 20px 0 20px;
}

/* Hero section headings */
.hero-container h1 {
  font-size: 96px;
  text-wrap: nowrap;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 128px;
  margin-bottom: 32px;
  color: var(--dark-blue);
}

.hero-container h2 {
  font-size: 36px;
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 20px;
  color: var(--primary-blue);
}

.hero-container p {
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 30px;
  color: var(--light-blue);
}

/* Hero section icons */
.icon {
  margin-bottom: 30px;
  display: flex;
}

.sm-icon {
  padding: 0 10px;
  margin: 0;
  text-decoration: none;
  display: inline;
  color: var(--light-blue);
  font-size: 30px;
  transition: all 200ms ease-in-out;
}

.sm-icon:hover {
  color: var(--dark-green);
  opacity: 0.8;
  transform: scale(1.5);
}

/* Hero section buttons */
.btn-main,
.btn-main a {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  padding: 10px 20px;
  color: var(--primary-beige);
  background-color: var(--primary-green);
  border: 1px solid var(--primary-green);
  border-radius: 25px;
  transition: all 200ms ease-in-out;
  margin-bottom: 15px;
}

.btn-second,
.btn-second a {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  padding: 10px 30px;
  color: var(--primary-green);
  border: 1px solid var(--primary-green);
  border-radius: 25px;
  transition: all 200ms ease-in-out;
  margin-bottom: 15px;
}

.btn-main:hover,
.btn-main a:hover {
  color: var(--primary-green);
  background-color: var(--light-blue);
  border: 1px solid var(--light-blue);
  transform: scale(105%);
}

.btn-second:hover,
.btn-second a:hover {
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  opacity: 0.8;
  transform: scale(105%);
}

.headshot-box {
  margin-top: 60px;
}

.headshot {
  width: 500px;
  padding-right: 60px;
}

.featured-container h2 {
  font-size: 36px;
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 54px;
  color: var(--primary-blue);
}

.featured-container h3 {
  font-size: 72px;
  text-wrap: nowrap;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 128px;
  color: var(--dark-blue);
}

.featured-container p {
  font-size: 24px;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 30px;
  color: var(--light-blue);
}

.featured-box {
  border: 1.5px solid var(--dark-green);
  border-radius: 15px;
}

.about-me-container h2 {
  font-size: 64px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 86px;
  margin-bottom: 32px;
  color: var(--dark-blue);
}

.about-me-container h3 {
  font-size: 18px;
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 20px;
  color: var(--primary-blue);
}

.about-me-container p {
  font-size: 16px;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--light-blue);
}

.about-headshot {
  border-radius: 25px;
}

.work-enquiry-container {
  border: 1.5px solid var(--light-green);
  background-color: var(--off-white-green);
  border-radius: 15px;
}

.work-enquiry-container h2 {
  font-size: 48px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 64px;
  color: var(--dark-blue);
}

.work-enquiry-container p {
  font-size: 18px;
  font-family: var(--font-primary);
  font-weight: 400;
  line-height: 27px;
  color: var(--light-blue);
}

.lets-talk {
  margin: 0 auto;
  text-align: center;
  padding-top: 15%;
}

.about-me-email {
  text-align: center;
}

.about-me-icons {
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 20px;
}

.box {
  width: 280px;
  height: 250px;
  text-align: center;
  border: 1px solid var(--light-green);
  border-radius: 5px;
}

.skill-image-box {
  margin: 20px auto;
}

.skill-title {
  font-size: 18px;
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  color: var(--dark-blue);
  padding-left: 5px;
  padding-right: 5px;
}

.skill-description {
  font-size: 16px;
  font-family: var(--font-secondary);
  font-weight: 400;
  line-height: 30px;
  color: var(--light-blue);
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 900px) {
  .hero-container {
    padding: 60px 10px 0 10px;
  }

  .hero-container h1 {
    font-size: 48px;
    margin-bottom: 16px;
    line-height: 64px;
    margin-bottom: 16px;
  }

  .hero-container h2 {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  .hero-container p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  .icon {
    margin-bottom: 15px;
  }

  .sm-icon {
    font-size: 20px;
  }

  .btn-main,
  .btn-main a {
    font-size: 15px;
    text-wrap: nowrap;
    line-height: 13.5px;
    padding: 8px 14px;
  }

  .btn-second,
  .btn-second a {
    font-size: 15px;

    line-height: 13.5px;
    padding: 8px 18px;
    margin-left: -10px;
  }

  .headshot-box {
    margin-top: 90px;
    margin-left: -50px;
  }

  .headshot {
    width: 200px;
    padding-right: 0;
  }

  .featured-container h2 {
    font-size: 18px;
    line-height: 27px;
  }

  .featured-container h3 {
    font-size: 30px;
    text-align: center;
    line-height: 64px;
  }

  .featured-container p {
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    padding: 0 70px 0 70px;
  }

  .view {
    margin: 0 auto;
    text-align: center;
    margin-bottom: -10px;
  }

  .about-me-container h2 {
    text-align: center;
    text-wrap: nowrap;
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
  }

  .about-me-container h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
  }

  .about-me-container p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  .work-enquiry-container h2 {
    text-align: left;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 32px;
  }

  .work-enquiry-container p {
    text-align: left;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .lets-talk {
    padding-top: 18%;
  }

  .box {
    width: 145px;
    height: 300px;
  }

  .skill-title {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }

  .skill-description {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 5px;
  }
}
